<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://www.framesbuy.com/assets/images/young-man.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Andrew</h5>
                            <p class="card-text text-center">Roll no: 1</p>
                            <p class="card-text text-center">Admission no: 4875</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThzKVurlrbI6U9Xekm_mMoh3ZJbbuBSI-0_TTrRtDAwgGJNqI_y1NqJpB_HciV2uXH5Is&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Alex</h5>
                            <p class="card-text text-center">Roll no: 2</p>
                            <p class="card-text text-center">Admission no: 4857</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://c4.wallpaperflare.com/wallpaper/970/589/275/actors-dan-stevens-wallpaper-preview.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Vishnu</h5>
                            <p class="card-text text-center">Roll no: 3</p>
                            <p class="card-text text-center">Admission no: 4975</p>
                            <p class="card-text text-center">College: Nest</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://t4.ftcdn.net/jpg/02/32/98/33/360_F_232983351_z5CAl79bHkm6eMPSoG7FggQfsJLxiZjY.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Felix</h5>
                            <p class="card-text text-center">Roll no: 4</p>
                            <p class="card-text text-center">Admission no: 5875</p>
                            <p class="card-text text-center">College: St.Joseph</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://as1.ftcdn.net/v2/jpg/03/42/85/16/1000_F_342851651_BV9SYWnoTPSu3kq6e82zG7H8eEt20wd1.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Mathew</h5>
                            <p class="card-text text-center">Roll no: 5</p>
                            <p class="card-text text-center">Admission no: 4455</p>
                            <p class="card-text text-center">College: VISAT</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://t3.ftcdn.net/jpg/01/93/56/24/360_F_193562494_uZu3hswS738ZiuypuRl2oID4gM7mmAHX.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Alen</h5>
                            <p class="card-text text-center">Roll no: 6</p>
                            <p class="card-text text-center">Admission no: 6775</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://as1.ftcdn.net/v2/jpg/02/76/37/34/1000_F_276373468_O2mcHr9FF1XUsPxOz55YxFH55da60MrF.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Arun</h5>
                            <p class="card-text text-center">Roll no: 7</p>
                            <p class="card-text text-center">Admission no: 7875</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXQKDetFg7Nd9ke39Gn2UKVRy224olEQaWWxs7bfDzDF3FzujdLmOPGq-0M2dgmcXASe0&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Kiran</h5>
                            <p class="card-text text-center">Roll no: 8</p>
                            <p class="card-text text-center">Admission no: 7458</p>
                            <p class="card-text text-center">College: CET</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZZP59oT4uCsNAcrIchVtVPrMQ08BPqTViNFD3TqSjmsNV05ib8RID4VUUT-2HGm-hGdU&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Anurudh</h5>
                            <p class="card-text text-center">Roll no: 9</p>
                            <p class="card-text text-center">Admission no: 8875</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd-ZC8Sb6OibDqSAewebDuV1JmV4holQfNZjvSoN24QMc4DIuD5aTz34__TG37K_ZkgII&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Abraham</h5>
                            <p class="card-text text-center">Roll no: 10</p>
                            <p class="card-text text-center">Admission no: 9875</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0UBzK6SrmYtb4QQ0chwA5LZAOuJUeC0zodwlVe7hF9wPXJNcBkorlLyIcTwZnvPCXBAI&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Yethi</h5>
                            <p class="card-text text-center">Roll no: 11</p>
                            <p class="card-text text-center">Admission no: 4875</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkMVrE_RTBLlxKHlu4GRwfLev9sROMTtHUdVjjei9kpz-jwDcRgmflRp9bjASJIt9qLBc&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Joel</h5>
                            <p class="card-text text-center">Roll no: 12</p>
                            <p class="card-text text-center">Admission no: 2875</p>
                            <p class="card-text text-center">College: Nest</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>