<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">yethi</h5>
                            <p class="card-text text-center">Roll no: 1</p>
                            <p class="card-text text-center">Admission no: 4875</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://img.freepik.com/free-photo/portrait-shirtless-young-man-isolated-grey-studio-background-caucasian-healthy-male-model-looking-side-posing-concept-men-s-health-beauty-self-care-body-skin-care_155003-33864.jpg?w=2000"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">yedu</h5>
                            <p class="card-text text-center">Roll no: 2</p>
                            <p class="card-text text-center">Admission no: 4857</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://previews.123rf.com/images/puhhha/puhhha1702/puhhha170200320/71674535-man-beauty-handsome-young-man-with-beautiful-face-healthy-soft-facial-skin-and-stubble-beard-portrai.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Vishnu</h5>
                            <p class="card-text text-center">Roll no: 3</p>
                            <p class="card-text text-center">Admission no: 4975</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://media.gettyimages.com/id/1092658864/photo/confident-young-man-wearing-purple-t-shirt.jpg?s=612x612&w=gi&k=20&c=5dv9NthxzpzZ2znz_ZUlMNDZHlvwipbWq7DR5tfXkG8="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Felix</h5>
                            <p class="card-text text-center">Roll no: 4</p>
                            <p class="card-text text-center">Admission no: 5875</p>
                            <p class="card-text text-center">College: mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://thumbs.dreamstime.com/b/headshot-emotional-female-face-portrait-calm-tender-facial-expression-young-woman-human-natural-emotions-expressions-187319900.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">sona</h5>
                            <p class="card-text text-center">Roll no: 5</p>
                            <p class="card-text text-center">Admission no: 4455</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://images.unsplash.com/photo-1597223557154-721c1cecc4b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8d29tYW4lMjBmYWNlfGVufDB8fDB8fA%3D%3D&w=1000&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">sneha</h5>
                            <p class="card-text text-center">Roll no: 6</p>
                            <p class="card-text text-center">Admission no: 6775</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://as1.ftcdn.net/v2/jpg/02/76/37/34/1000_F_276373468_O2mcHr9FF1XUsPxOz55YxFH55da60MrF.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">louis</h5>
                            <p class="card-text text-center">Roll no: 7</p>
                            <p class="card-text text-center">Admission no: 7875</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXQKDetFg7Nd9ke39Gn2UKVRy224olEQaWWxs7bfDzDF3FzujdLmOPGq-0M2dgmcXASe0&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">jobin</h5>
                            <p class="card-text text-center">Roll no: 8</p>
                            <p class="card-text text-center">Admission no: 7458</p>
                            <p class="card-text text-center">College: mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZZP59oT4uCsNAcrIchVtVPrMQ08BPqTViNFD3TqSjmsNV05ib8RID4VUUT-2HGm-hGdU&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Anurudh</h5>
                            <p class="card-text text-center">Roll no: 9</p>
                            <p class="card-text text-center">Admission no: 8875</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://media.gettyimages.com/id/1272456350/photo/frontal-headshot-of-a-young-hispanic-woman-aged-20-24-years-against-a-concrete-wall-munich.jpg?s=612x612&w=gi&k=20&c=glXF8c6r4mZvKQ35-KcJysHyo4PuOi9DmiIRUiZzaOA="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">pooja</h5>
                            <p class="card-text text-center">Roll no: 10</p>
                            <p class="card-text text-center">Admission no: 9875</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0UBzK6SrmYtb4QQ0chwA5LZAOuJUeC0zodwlVe7hF9wPXJNcBkorlLyIcTwZnvPCXBAI&usqp=CAU"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Yethi</h5>
                            <p class="card-text text-center">Roll no: 11</p>
                            <p class="card-text text-center">Admission no: 4875</p>
                            <p class="card-text text-center">College: Mangalam</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" width="200px" class="rounded-circle mx-auto" src="https://media.gettyimages.com/id/1314489916/photo/beautiful-latin-american-woman-against-white-background.jpg?s=612x612&w=gi&k=20&c=LTm5ui-z1bmJ0ft0bqFwuEb6v1fJ6c2-MDqK0owsE98="
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">harsha</h5>
                            <p class="card-text text-center">Roll no: 12</p>
                            <p class="card-text text-center">Admission no: 2875</p>
                            <p class="card-text text-center">College: mangalam</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>